<template name="home">
	<div class="row">
		<div class="col-md-12">
			<a href="#" class="thumbnail">
      			<img src="/images/slo-pic.JPG" alt="San Luis Obispo">
    		</a>
		</div>
	</div>
	{{#markdown}}
##	Welcome	to	Eat SLO
This will be the home of the Web3.0 DApp (Distributed Application). For not it lives on my local machine courtesy of Meteor.
	{{/markdown}}

	{{#if currentUser.roles.admin}}
		<a href="/create-post" class="createNewPost">Create new post</a>
	{{/if}}

	{{#each postsList}}
		{{> postInList}}
	{{/each}}

<button	class="lazyload">Load more</button>

</template>