<template name="newSloProfile">
	<div class="container bootstrap snippet">
    	<div class="row">
  			<div class="col-sm-10"><h1>{{name}}</h1></div>
    		<div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
    	</div>
    	<div class="row">
  			<div class="col-sm-3"><!--left col-->
              
          		<div class="panel panel-default">
          			<div class="panel-heading">
          				<h3 class="panel-title">Profile</h3>
          			</div>
          			<ul class="list-group">
            			<li class="list-group-item text-right"><span class="pull-left"><strong>City</strong></span> {{city}}</li>
            			<li class="list-group-item text-right"><span class="pull-left"><strong>Address</strong></span> {{profile.address}}</li>
            			<li class="list-group-item text-right"><span class="pull-left"><strong>Owner</strong></span> {{profile.owner}}</li>
          			</ul> 
          		</div>

          		<div class="panel panel-default">
            		<div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            		<div class="panel-body"><a href="http://bootnipets.com">{{profile.website}}</a></div>
          		</div>

          		<div class="panel panel-default">
          			<div class="panel-heading">
          				<h3 class="panel-title">Supplies to:</h3>
          			</div>
          			<ul class="list-group">
            			{{#each network.gives.name}}
            				<li class="list-group-item"><a href="#">{{this}}</a></li>
            			{{/each}}
          			</ul> 
          		</div>

        		<div class="panel panel-default">
          			<div class="panel-heading">
          				<h3 class="panel-title">Receives from:</h3>
          			</div>
          			<ul class="list-group">
            			{{#each network.receives.name}}
            				<li class="list-group-item"><a href="#">{{this}}</a></li>
            			{{/each}}
          			</ul> 
          		</div>
        	</div><!--/col-3-->
    		<div class="col-sm-9">
          		<h1>Story</h1>
          		<p>{{profile.story}}</p>
        	</div><!--/col-9-->
    	</div><!--/row-->
    </div>
</template>
