<template name="sloProfile">
	<h1>{{name}}</h1>

	<h2>-{{#each [account type]}} {{this}} -{{/each}}</h2>
	
	<h2>{{profile.description}}</h2>
	<small>City: {{city}} | Address: {{profile.address}}</small>

	<div class='bio'>
		{{#markdown}}
{{profile.story}}
		{{/markdown}}
	</div>
	<div>
		<!--TODO: hide if empty-->
		<h3>Supplies to:</h3>
		<ul>
			{{#each network.gives.name}}

				<!-- put 'this' in a link -->
				<li>{{this}}</li>

			{{/each}}
		</ul>

		<h3>Receives from:</h3>
		<ul>
			{{#each network.receives.name}}

			<!-- put 'this' in a link -->
			<li>{{this}}</li>

			{{/each}}
		</ul>
		
	</div>
</template>
