<template name="networkCard">
	<div class="col-sm-6 col-md-3">
    	<div class="thumbnail">
      		<img src="/images/slo-pic.JPG" alt="...">
      		<div class="caption">
        		<h3><a href="#" id="card-name">{{name}}</a></h3>
        		<p>{{profile.description}}</p>
        		<p>{{accountType}}</p>
            <p>{{city}}</p>
            <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">More info</button></p>
      		</div>
    	</div>
  	</div>
</template>