<template name="networkFilterButton">
   <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
         <i class="medium material-icons">list</i>
      </a>

      <ul>
         <li><a class="btn-floating green waves-effect waves-light" id="grower-toggle"><i class="material-icons">local_florist</i></a></li>
         <li><a class="btn-floating orange waves-effect waves-light" id="supplier-toggle"><i class="material-icons">dashboard</i></a></li>
         <li><a class="btn-floating blue darken-4 waves-effect waves-light" id="preparer-toggle"><i class="material-icons">restaurant</i></a></li>
         <li><a class="btn-floating blue-grey waves-effect waves-light" id="toggle-all"><i class="material-icons">rotate_right</i></a></li>
      </ul>
   </div>
</template>