<template name="networkSideBar">
   <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav admin-side-nav dark-side-nav">
        <!-- Logo -->
        <div class="logo-wrapper">
            <img src="http://0.gravatar.com/avatar/60efa32c26a19f3ed2e42798afb705ba?s=100&d=mm&r=g" class="img-responsive img-circle">
            <div class="rgba-stylish-strong">
                <p class="user white-text">Admin
                    <br> admin@gmail.com
                </p>
            </div>
        </div>
        <!--/. Logo -->

        <!-- Side navigation links -->
        <ul class="collapsible collapsible-accordion">
            <li><a href="#intro" class="waves-effect waves-light"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="fa fa-money"></i> Sales</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="fa fa-line-chart"></i> Conversion</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="fa fa-users"></i> Website Traffic</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="fa fa-search"></i> SEO</a></li>
            <li><a href="#" class="waves-effect waves-light"><i class="fa fa-share-alt"></i> Social</a></li>
        </ul>
        <!--/. Side navigation links -->

    </ul>
    <!--/. Sidebar navigation -->

   <!-- IDK why this can't live in the template onCreated() function -->
   <script>
      // Initialize collapse button
      $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      $('.collapsible').collapsible();
   </script>
</template>