<template name="networkFilter">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row-fluid">
				<div class="col-md-3">
					<h4>Places:</h4>
					<div class="control-group">
    					<div class="controls">
        					<div class="input">
            					<div class="btn-group" data-toggle="buttons-checkbox">
                					<button class="btn" id="slo-toggle">SLO</button>
                					<button class="btn" id="osos-toggle">Los Osos</button>
                					<button class="btn" id="avila-toggle">Avila</button>
            					</div>
        					</div>
    					</div>
    				</div>
				</div>
				<div class="col-md-3">
					<h4>Type:</h4>
					<div class="control-group">
    					<div class="controls">
        					<div class="input">
            					<div class="btn-group" data-toggle="buttons-checkbox">
                					<button class="btn" id="grower-toggle">Growers</button>
                					<button class="btn" id="supplier-toggle">Suppliers</button>
                					<button class="btn" id="preparer-toggle">Preparers</button>
            					</div>
        					</div>
    					</div>
    				</div>
					<button id="toggle-all" class="btn btn-info">Toggle All</button>
				</div>
			</div>
			
			
			
		</div>
	</div>
</template>