<template name="networkCard">
   <div class="col-sm-6 col-md-3">
      <div class="card hoverable">
         <div class="card-image">
            <div class="view overlay hm-white-slight z-depth-1">
               <img src="/images/slo-pic.JPG" class="img-responsive" alt="">
               <div class="mask waves-effect"></div>
            </div>
            <span class="card-title">{{name}}</span>
         </div>
         <div class="card-content">
            <p>{{profile.description}}</p>
            <p>{{accountType}}</p>
            <p>{{city}}</p>
         </div>
         <div class="card-action">
            <a>This is a link</a>
         </div>
      </div>
  	</div>
</template>